@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;

.app-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: f.font(text);
  background-color: c.color(background);
  overflow: hidden;
  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: c.color(background);
    .app-layout__content {
      flex: 1;
      height: 100%;
      overflow: hidden;
      padding: 10px;
      background-color: rgb(237, 237, 237);
      display: flex;
      flex-direction: column;
    }
  }
}
