@use "../abstracts/colors" as c;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: c.color(primary);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: c.color(primary);
}
